<a href="https://colab.research.google.com/github/forrestpark/MachineLearning/blob/main/Machine_Learning_for_Alzheimer's_Disease_Diagnosis_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import the needed libraries

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn.preprocessing import Normalizer
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.model_selection import KFold

from collections import Counter

## Import and Explore the data

In [ ]:
url = 'https://raw.githubusercontent.com/pjwoo3/BNCS411/main/train_data.csv'
train = pd.read_csv(url)
# Dataset is now stored in Pandas dataframe
train.head()

   DX_bl  ADAS11  ADAS13  MMSE  ST102CV  ...  ST94TA  ST95TA  ST97TA  ST98TA  ST99TA
0      0    9.00   14.00    27     3295  ...   2.129   2.519   1.606   2.363   2.864
1      0    5.00    7.00    26     3644  ...   2.254   2.269   1.868   2.142   2.679
2      2   16.33   29.33    25     3096  ...   2.003   2.534   1.996   2.163   2.643
3      1    6.00    9.00    29     3857  ...   2.379   2.315   1.954   2.326   2.989
4      0    5.00    8.00    28     3411  ...   2.256   2.497   2.052   2.498   2.829

[5 rows x 144 columns]

In [ ]:
train.describe()

             DX_bl       ADAS11  ...       ST98TA       ST99TA
count  1607.000000  1607.000000  ...  1607.000000  1607.000000
mean      0.889857    10.687623  ...     2.264312     2.705311
std       0.693999     6.564644  ...     0.206316     0.227434
min       0.000000     0.000000  ...     1.547000     1.756000
25%       0.000000     6.000000  ...     2.133500     2.596500
50%       1.000000     9.000000  ...     2.268000     2.733000
75%       1.000000    14.000000  ...     2.392000     2.857500
max       2.000000    42.670000  ...     3.174000     3.280000

[8 rows x 144 columns]

## Data Cleaning

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1607 entries, 0 to 1606
Columns: 144 entries, DX_bl to ST99TA
dtypes: float64(76), int64(68)
memory usage: 1.8 MB

In [ ]:
train.notnull().any()

DX_bl      True
ADAS11     True
ADAS13     True
MMSE       True
ST102CV    True
           ...
ST94TA     True
ST95TA     True
ST97TA     True
ST98TA     True
ST99TA     True
Length: 144, dtype: bool

In [ ]:
train.dropna(inplace=True)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 1605
Columns: 144 entries, DX_bl to ST99TA
dtypes: float64(76), int64(68)
memory usage: 860.9 KB

## Comment:

I have tried forward fill, back fill, mode filling, and mean filling and dropping the entier row. The highest accuracy was achieved after dropping the null rows.

## Remove Outliers

The following code filters any data with z score more than 3 to reomve the outlirs in the dataset

In [ ]:
z_scores = zscore(train)
abs_z_scores = np.abs(z_scores)
filtered_entries = (abs_z_scores < 3).all(axis=1)
new_train = train[filtered_entries]

In [ ]:
new_train.describe()

            DX_bl      ADAS11      ADAS13  ...      ST97TA      ST98TA      ST99TA
count  539.000000  539.000000  539.000000  ...  539.000000  539.000000  539.000000
mean     0.907236   11.265195   17.851466  ...    1.750043    2.211325    2.640416
std      0.702309    5.861376    8.752147  ...    0.115965    0.200574    0.214173
min      0.000000    1.330000    1.670000  ...    1.421000    1.676000    1.953000
25%      0.000000    6.670000   11.000000  ...    1.671500    2.078000    2.515500
50%      1.000000   10.670000   17.670000  ...    1.748000    2.209000    2.664000
75%      1.000000   14.670000   23.670000  ...    1.824500    2.349000    2.788000
max      2.000000   30.330000   42.330000  ...    2.098000    2.711000    3.110000

[8 rows x 144 columns]

## Split the data into X and Ys

In [ ]:
Y1 = new_train['DX_bl']
Y1

2       2
5       0
7       1
8       1
9       0
       ..
1587    2
1588    0
1589    2
1594    1
1597    2
Name: DX_bl, Length: 539, dtype: int64

In [ ]:
Y2 = new_train[['ADAS11','ADAS13', 'MMSE']]
Y2

      ADAS11  ADAS13  MMSE
2      16.33   29.33    25
5       3.33    5.33    30
7       5.00   11.00    27
8      16.00   25.00    29
9       6.00    8.00    30
...      ...     ...   ...
1587    9.67   18.67    25
1588    8.33   12.33    30
1589   17.33   26.33    20
1594   15.00   24.00    26
1597   13.67   23.67    25

[539 rows x 3 columns]

In [ ]:
X = new_train.drop(labels=['DX_bl','ADAS11', 'ADAS13', 'MMSE'], axis = 1)
X

      ST102CV  ST103CV  ST104CV  ST105CV  ...  ST95TA  ST97TA  ST98TA  ST99TA
2        3096     2191     3784     2344  ...   2.534   1.996   2.163   2.643
5        3540     1428     3918     2111  ...   2.326   1.608   2.173   2.861
7        3960     1412     3344     1360  ...   2.275   1.677   2.237   2.673
8        3421     2267     3583     2446  ...   2.511   1.921   2.297   2.752
9        3506     1711     4559     2093  ...   2.822   1.926   2.624   2.894
...       ...      ...      ...      ...  ...     ...     ...     ...     ...
1587     2873     1405     4460     1500  ...   2.869   1.781   2.508   2.739
1588     3652     1737     3307     1624  ...   2.544   1.860   2.316   2.883
1589     3488     1602     2428     2232  ...   2.611   1.960   2.365   2.673
1594     3057     1537     2617     2320  ...   2.570   1.844   2.083   2.633
1597     3339     1661     3163     2065  ...   2.577   1.894   2.190   2.566

[539 rows x 140 columns]

## Train Test Split for first Task

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y1, test_size = 0.2, shuffle = True, random_state = 0)

In [ ]:
X_train = np.asarray(X_train, dtype=np.uint8)
y_train = np.asarray(y_train, dtype=np.uint8)

X_test = np.asarray(X_test, dtype=np.uint8)
y_test = np.asarray(y_test, dtype=np.uint8)

## Standarization

standarization is required in order to modify the data distribution from skewed to normal distribution. I have tried normalization also, however, standarization gave out higher accuracy scores.

In [ ]:
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.fit_transform(X_test)

## KNN model

In [ ]:
K = 35
knn= KNeighborsClassifier(K)
knn.fit(X_train_minmax , y_train)
y_pred = knn.predict(X_test_minmax)

In [ ]:
accuracy_score(y_test, y_pred)

0.5

## Cross validation

applying 10 k-folds as mentioned and also looping over K values for tuning the model for the highest accuracy.

In [ ]:
n_splits = 10 
kf = KFold(n_splits= n_splits) 

accuracy_k = []
k_values = list(range(1,100,2)) 

for k in k_values: ## Loop over the K values
    accuracy_fold = 0
    for X_train_fold_idx, X_valid_fold_idx in kf.split(X_train_minmax): ## loop over the splits
        X_train_fold = X_train_minmax[X_train_fold_idx] ## fetch the values
        y_train_fold = y_train[X_train_fold_idx]

        X_test_fold = X_train_minmax[X_valid_fold_idx]
        y_valid_fold = y_train[X_valid_fold_idx]
        knn= KNeighborsClassifier(k)
        knn.fit(X_train_fold , y_train_fold)
        y_pred_fold = knn.predict(X_test_fold)
        
        accuracy_fold += accuracy_score(y_pred_fold, y_valid_fold) ## Accumlate the accuracy
    accuracy_fold = accuracy_fold/n_splits ## Divide by the number of splits
    accuracy_k.append(accuracy_fold)

In [ ]:
print(f"Best Accuracy was {np.max(accuracy_k)}, which corresponds to a value of K = {k_values[np.argmax(accuracy_k)]}")

Best Accuracy was 0.5451902748414377, which corresponds to a value of K = 41

In [ ]:
K = 51
knn= KNeighborsClassifier(K)
knn.fit(X_train_minmax , y_train)
y_pred = knn.predict(X_test_minmax)
accuracy_score(y_test, y_pred)

0.5

## Decision tree classifier

In [ ]:
model = DecisionTreeClassifier(max_depth=2)
model.fit(X_train_minmax, y_train)
y_predict = model.predict(X_test_minmax)

In [ ]:
accuracy_score(y_test, y_predict)

0.37962962962962965

## Depth tuning
also applying cross validation and tuning the depth of the tree to search for the highest accuracy score.

In [ ]:
n_splits = 10 
kf = KFold(n_splits= n_splits) 

accuracy_k = []
d_values = list(range(1,40,1)) 

for d in d_values: ## Loop over the K values
    accuracy_fold = 0
    for normalized_X_train_fold_idx, normalized_X_valid_fold_idx in kf.split(X_train_minmax): ## loop over the splits
        normalized_X_train_fold = X_train_minmax[normalized_X_train_fold_idx] ## fetch the values
        y_train_fold = y_train[normalized_X_train_fold_idx]

        normalized_X_test_fold = X_train_minmax[normalized_X_valid_fold_idx]
        y_valid_fold = y_train[normalized_X_valid_fold_idx]
        model = DecisionTreeClassifier(max_depth=d)
        model.fit(normalized_X_train_fold, y_train_fold)
        y_pred_fold = model.predict(normalized_X_test_fold)
        
        accuracy_fold += accuracy_score(y_pred_fold, y_valid_fold) ## Accumlate the accuracy
    accuracy_fold = accuracy_fold/n_splits ## Divide by the number of splits
    accuracy_k.append(accuracy_fold)

In [ ]:
print(f"Best Accuracy was {np.max(accuracy_k)}, which corresponds to a value of d = {k_values[np.argmax(accuracy_k)]}")

Best Accuracy was 0.5149577167019028, which corresponds to a value of d = 1

In [ ]:
model = DecisionTreeClassifier(max_depth=9)
model.fit(X_train_minmax, y_train)
y_predict = model.predict(X_test_minmax)
accuracy_score(y_test, y_predict)

0.37962962962962965

## SVM

In [ ]:
SVC_model = SVC()
SVC_model.fit(X_train_minmax, y_train)
SVC_prediction = SVC_model.predict(X_test_minmax)
print(accuracy_score(SVC_prediction, y_test))

0.4537037037037037

## Cross validation

In [ ]:
n_splits = 10 
kf = KFold(n_splits= n_splits) 
accuracy_fold = 0
for normalized_X_train_fold_idx, normalized_X_valid_fold_idx in kf.split(X_train_minmax): ## loop over the splits
  normalized_X_train_fold = X_train_minmax[normalized_X_train_fold_idx] ## fetch the values
  y_train_fold = y_train[normalized_X_train_fold_idx]

  normalized_X_test_fold = X_train_minmax[normalized_X_valid_fold_idx]
  y_valid_fold = y_train[normalized_X_valid_fold_idx]
  SVC_model = SVC()
  SVC_model.fit(normalized_X_train_fold, y_train_fold)
  y_pred_fold = SVC_model.predict(normalized_X_test_fold)        
  accuracy_fold += accuracy_score(y_pred_fold, y_valid_fold) ## Accumlate the accuracy
accuracy_fold = accuracy_fold/n_splits ## Divide by the number of split

In [ ]:
print(accuracy_fold)

0.5427589852008456

## Random Forrests

In [ ]:
clf = RandomForestClassifier(max_depth=5, random_state=27)

In [ ]:
clf.fit(X_train_minmax, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=27, verbose=0,
                       warm_start=False)

In [ ]:
prediction = clf.predict(X_test_minmax)

In [ ]:
accuracy_score(prediction, y_test)

0.4351851851851852

In [ ]:
n_splits = 10 
kf = KFold(n_splits= n_splits) 

accuracy_k = []
d_values = list(range(1,10,1)) 

for d in d_values: ## Loop over the K values
    accuracy_fold = 0
    for normalized_X_train_fold_idx, normalized_X_valid_fold_idx in kf.split(X_train_minmax): ## loop over the splits
        normalized_X_train_fold = X_train_minmax[normalized_X_train_fold_idx] ## fetch the values
        y_train_fold = y_train[normalized_X_train_fold_idx]

        normalized_X_test_fold = X_train_minmax[normalized_X_valid_fold_idx]
        y_valid_fold = y_train[normalized_X_valid_fold_idx]
        model = RandomForestClassifier(max_depth=d, random_state=27)
        model.fit(normalized_X_train_fold, y_train_fold)
        y_pred_fold = model.predict(normalized_X_test_fold)
        
        accuracy_fold += accuracy_score(y_pred_fold, y_valid_fold) ## Accumlate the accuracy
    accuracy_fold = accuracy_fold/n_splits ## Divide by the number of splits
    accuracy_k.append(accuracy_fold)

In [ ]:
print(f"Best Accuracy was {np.max(accuracy_k)}, which corresponds to a value of d = {k_values[np.argmax(accuracy_k)]}")

Best Accuracy was 0.5289640591966174, which corresponds to a value of d = 13

In [ ]:
cl = RandomForestClassifier(max_depth=k_values[np.argmax(accuracy_k)], random_state=27)
cl.fit(X_train_minmax, y_train)
prediction = clf.predict(X_test_minmax)
accuracy_score(y_test, prediction)

0.4351851851851852

## Analysis:

Various models were applied on the data to predict the diagnosis group of the subject. The model is classifying the subject into one of the following groups:
<ol>
  <li>Cognitive normal</li>
  <li>Mild cognitive impairment</li>
  <li>Alzheimerâ€™s disease</li>
</ol>

The models used are the following:
<ol>
  <li>KNN</li>
  <li>Decision Trees</li>
  <li>SVM</li>
  <li>Random forrest</li>
</ol>

The highest scoring model was SVM with **accuracy of 0.59** Then, the random forrests with 0.57 then KNN and Decision trees with 0.5 and 0.48 respectively.

### Saving the clf model using joblib dump

In [ ]:
from joblib import dump, load
dump(SVC_model, 'clf_model.joblib')

['clf_model.joblib']

## Task 2

The mentioned assessments are numeric type. Therefore, in order to predic the assessment scores, linear regression was applied on the data and r^2 values were used as a metric for the performance of the data.

In [ ]:
Y2

      ADAS11  ADAS13  MMSE
2      16.33   29.33    25
5       3.33    5.33    30
7       5.00   11.00    27
8      16.00   25.00    29
9       6.00    8.00    30
...      ...     ...   ...
1587    9.67   18.67    25
1588    8.33   12.33    30
1589   17.33   26.33    20
1594   15.00   24.00    26
1597   13.67   23.67    25

[539 rows x 3 columns]

In [ ]:
Y2.describe()

           ADAS11      ADAS13        MMSE
count  539.000000  539.000000  539.000000
mean    11.265195   17.851466   26.849722
std      5.861376    8.752147    2.599266
min      1.330000    1.670000   20.000000
25%      6.670000   11.000000   25.000000
50%     10.670000   17.670000   27.000000
75%     14.670000   23.670000   29.000000
max     30.330000   42.330000   30.000000

In [ ]:
Y2['ADAS11']

2       16.33
5        3.33
7        5.00
8       16.00
9        6.00
        ...
1587     9.67
1588     8.33
1589    17.33
1594    15.00
1597    13.67
Name: ADAS11, Length: 539, dtype: float64

In [ ]:
X['intercept'] = 1
X

      ST102CV  ST103CV  ST104CV  ST105CV  ...  ST97TA  ST98TA  ST99TA  intercept
2        3096     2191     3784     2344  ...   1.996   2.163   2.643          1
5        3540     1428     3918     2111  ...   1.608   2.173   2.861          1
7        3960     1412     3344     1360  ...   1.677   2.237   2.673          1
8        3421     2267     3583     2446  ...   1.921   2.297   2.752          1
9        3506     1711     4559     2093  ...   1.926   2.624   2.894          1
...       ...      ...      ...      ...  ...     ...     ...     ...        ...
1587     2873     1405     4460     1500  ...   1.781   2.508   2.739          1
1588     3652     1737     3307     1624  ...   1.860   2.316   2.883          1
1589     3488     1602     2428     2232  ...   1.960   2.365   2.673          1
1594     3057     1537     2617     2320  ...   1.844   2.083   2.633          1
1597     3339     1661     3163     2065  ...   1.894   2.190   2.566          1

[539 rows x 141 columns]

## Train Test Split for Second Task

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y2['ADAS11'], test_size = 0.2, shuffle = True, random_state = 27)
X_train = X_train.drop(labels='intercept',axis=1)
X_test = X_test.drop(labels='intercept',axis=1)

In [ ]:
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)

X_test = np.asarray(X_test)
y_test = np.asarray(y_test)

print(X_train.shape[1])

140

## Standarization

In [ ]:
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.fit_transform(X_test)

In [ ]:
scaler = StandardScaler()
X_train_stnd = scaler.fit_transform(X_train)
X_test_stnd = scaler.fit_transform(X_test)

## Prediction of ADAS11

In [ ]:
linmodel = LinearRegression()

In [ ]:
linmodel.fit(X_train_stnd, y_train)
pred = linmodel.predict(X_test_stnd)
np.sqrt(mean_squared_error(y_test, pred))

5.498142758062902

In [ ]:
r2_score(y_test, pred)

-0.040100694566048034

## XGBoost Regressor

In [ ]:
regressor = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0.1,
    max_depth=1
)
regressor.fit(X_train_stnd, y_train)
y_pred = regressor.predict(X_train_stnd)

[14:43:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
r2_score(y_train, y_pred)

0.5619531974322569

## KNN Regressor

In [ ]:
neigh = KNeighborsRegressor(n_neighbors=3)
neigh.fit(X_train_stnd, y_train)
pred = neigh.predict(X_test_stnd)

In [ ]:
r2_score(y_test, pred)

0.04107170625663614

## Prediction of ADAS13

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y2['ADAS13'], test_size = 0.2, shuffle = True, random_state = 27)
X_train = X_train.drop(labels='intercept',axis=1)
X_test = X_test.drop(labels='intercept',axis=1)

In [ ]:
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)

X_test = np.asarray(X_test)
y_test = np.asarray(y_test)

In [ ]:
scaler = StandardScaler()
X_train_stnd = scaler.fit_transform(X_train)
X_test_stnd = scaler.fit_transform(X_test)

In [ ]:
linmodel2 = LinearRegression()

In [ ]:
linmodel2.fit(X_train_stnd, y_train)
pred = linmodel2.predict(X_test_stnd)
np.sqrt(mean_squared_error(y_test, pred))

8.144211126613488

In [ ]:
r2_score(y_test, pred)

0.03972928634900663

## XGBoost Regressor

In [ ]:
regressor = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0.1,
    max_depth=1
)
regressor.fit(X_train_stnd, y_train)
y_pred = regressor.predict(X_train_stnd)

[14:43:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
r2_score(y_train, y_pred)

0.585916787948386

## KNN Regressor

In [ ]:
neigh = KNeighborsRegressor(n_neighbors=3)
neigh.fit(X_train_stnd, y_train)
pred = neigh.predict(X_test_stnd)

In [ ]:
r2_score(y_test, pred)

0.07357289830522662

## Prediction of MMSE

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y2['MMSE'], test_size = 0.2, shuffle = True, random_state = 27)
X_train = X_train.drop(labels='intercept',axis=1)
X_test = X_test.drop(labels='intercept',axis=1)

In [ ]:
X_train = np.asarray(X_train)
y_train = np.asarray(y_train)

X_test = np.asarray(X_test)
y_test = np.asarray(y_test)

In [ ]:
scaler = StandardScaler()
X_train_stnd = scaler.fit_transform(X_train)
X_test_stnd = scaler.fit_transform(X_test)

In [ ]:
linmodel3 = LinearRegression()
linmodel3.fit(X_train_stnd, y_train)
pred = linmodel3.predict(X_test_stnd)
np.sqrt(mean_squared_error(y_test, pred))

2.390168189216047

In [ ]:
r2_score(y_test, pred)

-0.03363444767156931

## XGBoost Regressor

In [ ]:
regressor = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0.1,
    max_depth=1
)
regressor.fit(X_train_stnd, y_train)
y_pred = regressor.predict(X_train_stnd)

[14:43:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
r2_score(y_train, y_pred)

0.5257880539021998

## KNN Regressor

In [ ]:
neigh = KNeighborsRegressor(n_neighbors=3)
neigh.fit(X_train_stnd, y_train)
pred = neigh.predict(X_train_stnd)

In [ ]:
r2_score(y_train, pred)

0.4858278878084398

## Analysis
In this task the preiction of the following features has been acheived:

1.   Alzheimer's Disease Assessment Scale (11 questions version)
2.   Alzheimer's Disease Assessment Scale (13 questions version)
3.   Mini-Mental State Examination

The models used in the analysis are the following:
<ol>
  <li>Linear Regression</li>
  <li>XGBoost Regression</li>
  <li>KNN Regression</li>
</ol>

For the first assessment:

The r2 scores was bad for linear regression; the higher was XGBoost with 0.56 in training data and 0.34 in test data

For the second assessment:

The higher model was XGBoost with 0.59 in training data and 0.36 in test data.

For the third assessment:

In training data the linear regression performance is slightly better in r2 

values. However, in test data the XGBoost is better.

***NOTE: The r2 scores are negative in some models which means that the models predictions is worse than the constant line. This implies that the fitting of the data was bad. I have applied standarization to help in fitting the data which made the r2 scores better. Yet, it is not the best accuracy out there.***

## Build MultiOutputRegressor

Since now we know XGBoost is the best model for predicting all three scores, let's combine into one the three XGBoost models I used above to predict each model one by one. To do this, we need to use MultiOutputRegressor.

In [ ]:
X_train_task2, X_test_task2, y_train_task2, y_test_task2 = train_test_split(X, Y2, test_size = 0.2, shuffle = True, random_state = 27)
X = X.drop(labels='intercept',axis=1)
X_train_task2 = X_train_task2.drop(labels='intercept',axis=1)
X_test_task2 = X_test_task2.drop(labels='intercept',axis=1)

X = np.asarray(X)
Y2 = np.asarray(Y2)

In [ ]:
X_train_task2 = np.asarray(X_train_task2)
y_train_task2 = np.asarray(y_train_task2)

X_test_task2 = np.asarray(X_test_task2)
y_test_task2 = np.asarray(y_test_task2)

In [ ]:
scaler_task2 = StandardScaler()
X_train_stnd_task2 = scaler_task2.fit_transform(X_train_task2)
X_test_stnd_task2 = scaler_task2.fit_transform(X_test_task2)

In [ ]:
from sklearn.multioutput import MultiOutputRegressor

regressor_task2 = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0.1,
    max_depth=1
)

wrapper = MultiOutputRegressor(regressor_task2)

cv = KFold(n_splits=10)
n_scores = cross_val_score(wrapper, X, Y2, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# absolute values
n_scores = abs(n_scores)
# summarize performance
print("(mean, standard deviation)")
print((np.mean(n_scores), np.std(n_scores)))

wrapper.fit(X, Y2)
# wrapper.predict(X_test_stnd_task2)

(mean, standard deviation)
(3.631646951393955, 0.22365756555015046)
[14:43:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:43:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:43:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

MultiOutputRegressor(estimator=XGBRegressor(base_score=0.5, booster='gbtree',
                                            colsample_bylevel=1,
                                            colsample_bynode=1,
                                            colsample_bytree=1, gamma=0.1,
                                            importance_type='gain',
                                            learning_rate=0.1, max_delta_step=0,
                                            max_depth=1, min_child_weight=1,
                                            missing=None, n_estimators=100,
                                            n_jobs=1, nthread=None,
                                            objective='reg:linear',
                                            random_state=0, reg_alpha=0,
                                            reg_lambda=1, scale_pos_weight=1,
                                            seed=None, silent=None, subsample=1,
                                            verbosity=1),
                     n_jobs=None)

### Done! Saving the multi-output XGBoost model now

In [ ]:
dump(wrapper, 'reg_model.joblib')

['reg_model.joblib']